th {
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

td {
  text-align: center;
}

.center{
  align-content: center;
}

.btn-primary {
  background: #6a1b9a;
  border-color: #4a148c;
}

.btn-primary:hover {
  background-color: #ce93d8;
  color: #fff;
  border-color: #4a148c;
}

label {
  box-shadow: 10px 10px 5px #888888;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-size: 50;
  color: #fff;
}

h3 {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  font-size: 30;
  color: #fff;
}

h4 {
  font-family: "Orbitron", sans-serif;
  font-size: 20;
}

h5 {
  color: #9c27b0;
  font-weight: 900;
  font-size: 20;
}

h6 {
  font-family: "Orbitron", sans-serif;
  font-size: 30;
}

.title {
  background: #6a1b9a;
}

.usuario {
  font-family: "Orbitron", sans-serif;
}

.fondoPrincipal {
  background-image: url(../assets/fondo.png);
  background-color: #f3e5f5;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body{
  background-color: #ede7f6;
}

.p {
  font-family: "Orbitron", sans-serif;
}

p {
  font-size: 30;
  text-align: center;
}
